body{
	font-family: Arial;
	margin: 0;
	background-color: #f4f4f4;
}
header{
	background: #000;
	color: white;
	padding: 20px;
	text-align: center;
}
nav a {
	color: white;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
}
section{
	padding: 20px;
	background: white;
	margin: 20px;
	border-radius: 10px;
}
img{
	margin-top: 10px;
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
}
nav{
	margin-top: 10px;
} 
nav a{
	color: white;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
}

figure{
	margin:20px 0;
	text-align: center;
}
fontcaption{
	font-size: 14px;
	color: grey;
	margin-top: 5px;
}
article{
	max-width: 700px;
	margin: auto;
	padding: 20px;
	background-color:#f4f4f4;
	border-radius: 2px;
}
.Contact-section button:hover{
	background-color:#333;
}
footer{
	background-color: #1a1a1a;/*dark footer background*/
	color: #f4f4f4;/*light text color*/
	padding: 25px 20px;
	text-align: center;
	font-size: 0.9rem;
}
.welcome{
	max-width: 900px;
	margin: 40px auto;
	text-align:center;
	padding:30px 20px;
	background-color: #f4f4f4;
	border-radius: 10px;

}

